<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">

<head th:insert="~{/includes/inc-head.html :: head}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div th:insert="~{/includes/inc-sidebar.html :: sidebar}"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="~{/includes/inc-topbar.html :: topbar}"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                <div th:insert="~{/includes/inc-categoria.html :: categoria}"></div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:insert="~{/includes/inc-footer.html :: footer}"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- <div th:insert="~{/includes/inc-logout-modal.html :: modal}"></div> -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" th:fragment="modal">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novo Serviço</h5>
                    <!-- <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button> -->
                    <a class="btn btn-primary" href="login.html">Novo Serviço</a>
                </div>
                <div class="modal-body">

                   <!-- <form class="user" th:action="@{/servico/new}" th:object="${servicoDTO}" method="post">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="descricao"
                                       placeholder="Nome" th:field="${servicoDTO.descricao}">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="valor"
                                       placeholder="Username" th:field="${servicoDTO.valor}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user"
                                       id="tempo" placeholder="Nova senha" th:field="${servicoDTO.tempo}">
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" class="form-control form-control-user"
                                       id="idCategoria" th:field="${servicoDTO.idCategoria}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Cadastrar
                        </button>
                    </form> -->

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>