<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<h1 class="h3 mb-4 text-gray-800">BARBEARIA</h1>

<div class="row">

    <div class="col-lg-6">

        <div class="card shadow mb-4" th:fragment="categoria">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Serviços</h6>
            </div>
            <div class="card-body">
                <!-- Circle Buttons (Default) -->
                <div class="text-primary">
                    <code>CABELO</code>
                </div>
                <br />

                <div class="mb-2">
                    <code>CABELO E BARBA</code>
                </div>


                <div class="mt-4 mb-2">
                    <code>BARBA</code>
                </div>

                <div class="mt-4 mb-2">
                    <code>SOBRANCELHA</code>
                </div>

                <div class="mt-4 mb-2">
                    <code>APARO DE PELOS</code>
                </div>

                <div class="mt-4 mb-2">
                    <code>SELAGEM/ALISAMENTO</code>
                </div>
                <br />

                <div class="my-2"></div>
                    <a class="btn btn-primary" th:href="@{/novo/servico}">NOVO SERVIÇO</a>
            </div>
        </div>

    </div>

</div>

</html>